/* line 2, ../sass/components/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  /* line 59, ../sass/_config.scss */
  .not-mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* line 68, ../sass/_config.scss */
  .not-tablet {
    display: none;
  }
}

/* line 14, ../sass/layout.scss */
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: 68em;
}
/* line 15, ../sass/components/bourbon/addons/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 1088px) {
  /* line 14, ../sass/layout.scss */
  .container {
    width: auto;
  }
}

/* line 28, ../sass/layout.scss */
.no-sidebars #content {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%;
}
/* line 40, ../sass/components/neat/grid/_span-columns.scss */
.no-sidebars #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 28, ../sass/layout.scss */
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 100%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 28, ../sass/layout.scss */
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
/* line 43, ../sass/layout.scss */
.one-sidebar.sidebar-second #content {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 65.95745%;
}
/* line 40, ../sass/components/neat/grid/_span-columns.scss */
.one-sidebar.sidebar-second #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 43, ../sass/layout.scss */
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 100%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 43, ../sass/layout.scss */
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
/* line 58, ../sass/layout.scss */
.one-sidebar.sidebar-first #content {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 65.95745%;
  margin-left: 25.53191%;
}
/* line 40, ../sass/components/neat/grid/_span-columns.scss */
.one-sidebar.sidebar-first #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 58, ../sass/layout.scss */
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
    margin-left: 25.80645%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 58, ../sass/layout.scss */
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
    margin-left: 0%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
/* line 76, ../sass/layout.scss */
.two-sidebars #content {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 65.95745%;
  margin-left: 25.53191%;
}
/* line 40, ../sass/components/neat/grid/_span-columns.scss */
.two-sidebars #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 76, ../sass/layout.scss */
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
    margin-left: 25.80645%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 76, ../sass/layout.scss */
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
    margin-left: 0%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

/* line 97, ../sass/layout.scss */
#sidebar-first {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 23.40426%;
  margin-left: -93.61702%;
}
/* line 40, ../sass/components/neat/grid/_span-columns.scss */
#sidebar-first:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 97, ../sass/layout.scss */
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: -77.41935%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-first:last-child {
    margin-right: 0;
  }
  /* line 110, ../sass/layout.scss */
  .sidebar-first #sidebar-first {
    margin-left: -103.22581%;
  }
}
@media screen and (max-width: 480px) {
  /* line 97, ../sass/layout.scss */
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
    margin-left: 0%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-first:last-child {
    margin-right: 0;
  }
  /* line 119, ../sass/layout.scss */
  .sidebar-first #sidebar-first {
    margin-left: 0%;
  }
}

/* line 126, ../sass/layout.scss */
#sidebar-second {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 31.91489%;
  margin-left: 0%;
}
/* line 40, ../sass/components/neat/grid/_span-columns.scss */
#sidebar-second:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 126, ../sass/layout.scss */
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 100%;
    margin-left: 0%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-second:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 126, ../sass/layout.scss */
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
    margin-left: 0%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

/* line 145, ../sass/layout.scss */
#footer {
  float: none;
  clear: both;
}

/* line 151, ../sass/layout.scss */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

/* line 163, ../sass/layout.scss */
.inner {
  padding: 0;
}

/* line 168, ../sass/layout.scss */
#navigation {
  position: relative;
  z-index: 1;
}
/* line 169, ../sass/layout.scss */
#navigation li {
  list-style-type: none;
  display: inline-block;
}
