@import url(font-awesome-4.3.0/css/font-awesome.min.css);
/* line 2, ../sass/components/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  /* line 59, ../sass/_config.scss */
  .not-mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* line 68, ../sass/_config.scss */
  .not-tablet, #programList span#found, #programList .weak, #bar input[type="submit"] {
    display: none;
  }
}

/* line 4, ../sass/_typography.scss */
body {
  margin: 0;
  font: 16px, "Helvetica Neue", helvetica, Arial, sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 768px) {
  /* line 4, ../sass/_typography.scss */
  body {
    font-size: 90%;
  }
}
@media screen and (max-width: 480px) {
  /* line 4, ../sass/_typography.scss */
  body {
    font-size: 85%;
  }
}

/* line 22, ../sass/_typography.scss */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 30, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  font-family: "Open sans";
}

/* line 35, ../sass/_typography.scss */
h1 {
  font-size: 3.583em;
  font-size: 2.61803em;
  font-weight: 600;
  padding: 0 0 0.5em;
  margin: 0;
}
@media screen and (max-width: 480px) {
  /* line 35, ../sass/_typography.scss */
  h1 {
    font-size: 1.61803em;
  }
}

/* line 48, ../sass/_typography.scss */
h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

/* line 54, ../sass/_typography.scss */
h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

/* line 59, ../sass/_typography.scss */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 64, ../sass/_typography.scss */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 70, ../sass/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 76, ../sass/_typography.scss */
p {
  margin: 0 0 1em 0;
}

/* line 81, ../sass/_typography.scss */
.weak {
  font-size: 90%;
  color: rgba(0, 0, 0, 0.5);
}

/* line 86, ../sass/_typography.scss */
#sidebar-first {
  padding-right: 1rem;
}

/* line 90, ../sass/_typography.scss */
#sidebar-first h2 {
  font-size: 1.25rem;
  margin-top: 1rem;
}

/* line 5, ../sass/style.scss */
ul, ol {
  margin-left: 0;
  padding-left: 0;
}

/* line 11, ../sass/style.scss */
table {
  width: 99%;
}

/* line 17, ../sass/style.scss */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 22, ../sass/style.scss */
tr.odd {
  background-color: white;
}

/* line 27, ../sass/style.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 32, ../sass/style.scss */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* line 41, ../sass/style.scss */
ul {
  list-style-type: disc;
}
/* line 43, ../sass/style.scss */
ul ul {
  list-style-type: circle;
}
/* line 45, ../sass/style.scss */
ul ul ul {
  list-style-type: square;
}
/* line 47, ../sass/style.scss */
ul ul ul ul {
  list-style-type: circle;
}

/* line 54, ../sass/style.scss */
ol {
  list-style-type: decimal;
}
/* line 56, ../sass/style.scss */
ol ol {
  list-style-type: lower-alpha;
}
/* line 58, ../sass/style.scss */
ol ol ol {
  list-style-type: decimal;
}

/* line 65, ../sass/style.scss */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* line 72, ../sass/style.scss */
#edit-title {
  font-size: 24px;
  width: 99%;
}

/* line 77, ../sass/style.scss */
#system-themes-form img {
  width: 100px;
}

/* line 81, ../sass/style.scss */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 89, ../sass/style.scss */
#edit-delete {
  color: #cc0000;
}

/* line 94, ../sass/style.scss */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

/* line 102, ../sass/style.scss */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

/* line 108, ../sass/style.scss */
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

/* line 114, ../sass/style.scss */
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

/* line 2, ../sass/regions/_region.breadcrumb.scss */
.breadcrumb a {
  color: red;
}

/* line 5, ../sass/regions/_region.header.scss */
#headerbacking {
  opacity: 0;
}

/* line 9, ../sass/regions/_region.header.scss */
.explore h1#hero-header {
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}

/* line 14, ../sass/regions/_region.header.scss */
#hero-text {
  max-width: 800px;
  position: relative !important;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 2rem !important;
}

@media screen and (max-width: 480px) {
  /* line 24, ../sass/regions/_region.header.scss */
  .explore h1#hero-header {
    font-size: 2rem;
  }
}
/* line 29, ../sass/regions/_region.header.scss */
.front header#header {
  background: none !important;
}

/* line 33, ../sass/regions/_region.header.scss */
.hero-slider {
  z-index: -1 !important;
}

/* line 38, ../sass/regions/_region.header.scss */
#leaderImage {
  max-width: 100%;
  margin-top: 4rem;
  z-index: 1;
  position: relative;
}

/* line 45, ../sass/regions/_region.header.scss */
#logo {
  position: relative;
  z-index: 1;
}

/* line 50, ../sass/regions/_region.header.scss */
.front #header {
  min-height: 40vh;
  max-height: initial;
}

/* line 55, ../sass/regions/_region.header.scss */
.explore form {
  margin-bottom: 3rem;
  position: relative;
}

/* line 63, ../sass/regions/_region.header.scss */
.explore input {
  height: 3.0rem;
  line-height: 3.0rem;
  padding: 0 1.75rem;
}

/* line 70, ../sass/regions/_region.header.scss */
.hero-slider {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  z-index: 0;
}

/* line 82, ../sass/regions/_region.header.scss */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* line 92, ../sass/regions/_region.header.scss */
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  min-width: 100%;
  left: 0;
  top: 0;
}

/* line 102, ../sass/regions/_region.header.scss */
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

/* line 108, ../sass/regions/_region.header.scss */
.rslides img {
  display: block;
  height: auto;
  float: left;
  min-width: 100%;
  min-height: 100vh;
  border: 0;
}

/* line 121, ../sass/regions/_region.header.scss */
#header {
  overflow: hidden;
  max-height: 25vh;
  overflow: hidden;
  position: relative;
  min-height: 9rem;
  color: white;
  background-position: center center;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("http://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Trevi_Pano.jpg/1920px-Trevi_Pano.jpg"), url("https://photos-3.dropbox.com/t/2/AACL0DK6LBdxrObOfOMEyB3b7w8ys3dHs9PdkLJ8Q_P7_w/12/291310503/jpeg/32x32/3/_/1/2/evening-forest-landscape-397.jpg/CKeX9IoBIAEgAiADKAEoAg/HWNUb16wkDlWf6yKu0uJI349kkGqwXNi4subOah9kqM?size=1280x960");
}
@media screen and (max-width: 480px) {
  /* line 121, ../sass/regions/_region.header.scss */
  #header {
    min-height: 4.5rem;
  }
}
/* line 151, ../sass/regions/_region.header.scss */
#header #name-and-slogan {
  display: inline-block;
}
/* line 154, ../sass/regions/_region.header.scss */
#header nav {
  float: right;
  line-height: 9rem;
}
/* line 157, ../sass/regions/_region.header.scss */
#header nav a {
  color: white;
  font-weight: 100;
  font-size: 90%;
  padding-right: .5rem;
  text-shadow: 1px 1px 1px black;
}
/* line 166, ../sass/regions/_region.header.scss */
#header #header-region {
  padding-top: 9rem;
}
/* line 170, ../sass/regions/_region.header.scss */
#header h1 {
  color: white;
  display: inline-block;
  font-family: 'nixie one';
  font-weight: 100;
  position: relative;
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
  text-transform: uppercase;
  top: 48px;
  word-wrap: break-word;
}
@media screen and (min-width: 769px) {
  /* line 170, ../sass/regions/_region.header.scss */
  #header h1 {
    font-size: 48px;
    letter-spacing: 4.80000019073486px;
    line-height: 48px;
    margin-bottom: 4rem;
  }
}

/* line 192, ../sass/regions/_region.header.scss */
.front #header {
  min-height: 60vh;
}
/* line 195, ../sass/regions/_region.header.scss */
.front #header .explore {
  display: inline-block;
}

/* line 200, ../sass/regions/_region.header.scss */
#menu-toggle {
  right: 20px;
  position: absolute;
  z-index: 2007;
}
@media screen and (min-width: 769px) {
  /* line 200, ../sass/regions/_region.header.scss */
  #menu-toggle {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* line 200, ../sass/regions/_region.header.scss */
  #menu-toggle {
    top: 3.5rem;
  }
}
@media screen and (max-width: 480px) {
  /* line 200, ../sass/regions/_region.header.scss */
  #menu-toggle {
    top: 1.5rem;
  }
}

/* line 217, ../sass/regions/_region.header.scss */
#menu-toggle.active {
  position: fixed;
}

/* line 221, ../sass/regions/_region.header.scss */
.explore {
  display: none;
}

/* line 1, ../sass/_program.scss */
.country, .price, .region, .priority, .enrollment_required, .type, .discipline, .term {
  display: none;
}

/* line 5, ../sass/_program.scss */
.page-programs #breadcrumbs li:first-child {
  display: inline-block;
}
/* line 8, ../sass/_program.scss */
.page-programs #breadcrumbs li {
  display: none;
}

/* line 12, ../sass/_program.scss */
.desc {
  font-size: .9rem;
  margin-top: 1rem;
}

/* line 17, ../sass/_program.scss */
.ms-parent.reset {
  display: block;
  height: 26px;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid red;
  text-align: left;
  white-space: nowrap;
  line-height: 26px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  height: 31px;
  position: relative;
  top: -1px;
  line-height: 30px;
  text-align: center;
}
/* line 38, ../sass/_program.scss */
.ms-parent.reset a {
  color: red;
}

/* line 43, ../sass/_program.scss */
#enrollment_notice {
  position: relative;
  text-align: right;
  top: 1.5rem;
  margin-bottom: -19px;
  display: none;
  z-index: 1 !important;
}
@media screen and (max-width: 768px) {
  /* line 43, ../sass/_program.scss */
  #enrollment_notice {
    text-align: left !important;
    top: -20px !important;
    margin-bottom: -9px !important;
  }
}

/* line 57, ../sass/_program.scss */
#controls-sticky-wrapper {
  height: auto !important;
}

/* line 61, ../sass/_program.scss */
#programList #controls {
  background: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  min-height: 7.75rem;
  position: relative;
  overflow: visible;
}
@media screen and (max-width: 768px) {
  /* line 61, ../sass/_program.scss */
  #programList #controls {
    border-bottom: none;
  }
}
@media screen and (max-width: 480px) {
  /* line 80, ../sass/_program.scss */
  #programList #controls .search {
    margin-top: 0rem !important;
  }
  /* line 84, ../sass/_program.scss */
  #programList #controls .ms-drop.bottom input {
    width: auto !important;
    margin-top: 0px !important;
  }
}

/* line 94, ../sass/_program.scss */
#programList .is-sticky #controls {
  border-bottom: 0px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.5);
}

/* line 99, ../sass/_program.scss */
#programList #found {
  color: white;
  border-radius: 15px;
  font-size: 80%;
  padding: .15rem .55rem 0 .55rem;
  display: inline-block;
  background: #fed201;
}

/* line 110, ../sass/_program.scss */
#programList .search {
  z-index: 1010;
  position: relative;
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 31.91489%;
}
/* line 40, ../sass/components/neat/grid/_span-columns.scss */
#programList .search:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 110, ../sass/_program.scss */
  #programList .search {
    width: 100%;
  }
}
/* line 121, ../sass/_program.scss */
#programList .placeholder span {
  display: none;
}
@media screen and (max-width: 768px) {
  /* line 121, ../sass/_program.scss */
  #programList .placeholder span {
    display: inline;
  }
}
/* line 127, ../sass/_program.scss */
#programList .ms-parent {
  margin-top: .5rem;
}
/* line 130, ../sass/_program.scss */
#programList #catagories {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  width: 100% !important;
}
/* line 15, ../sass/components/bourbon/addons/_clearfix.scss */
#programList #catagories:after {
  content: "";
  display: table;
  clear: both;
}
/* line 134, ../sass/_program.scss */
#programList .ms-choice, #programList .ms-drop.bottom {
  width: 100%;
}
/* line 137, ../sass/_program.scss */
#programList #catagories select, #programList .ms-parent {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 14.89362%;
}
/* line 40, ../sass/components/neat/grid/_span-columns.scss */
#programList #catagories select:last-child, #programList .ms-parent:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 137, ../sass/_program.scss */
  #programList #catagories select, #programList .ms-parent {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  #programList #catagories select:last-child, #programList .ms-parent:last-child {
    margin-right: 0;
  }
  /* line 142, ../sass/_program.scss */
  #programList #catagories select:nth-child(4n), #programList .ms-parent:nth-child(4n) {
    margin-right: 0px;
  }
}
@media screen and (max-width: 480px) {
  /* line 137, ../sass/_program.scss */
  #programList #catagories select, #programList .ms-parent {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 46.66667%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  #programList #catagories select:last-child, #programList .ms-parent:last-child {
    margin-right: 0;
  }
  /* line 148, ../sass/_program.scss */
  #programList #catagories select:nth-child(4n), #programList .ms-parent:nth-child(4n) {
    margin-right: 0px;
  }
}
/* line 153, ../sass/_program.scss */
#programList li label {
  font-size: 85% !important;
}
/* line 156, ../sass/_program.scss */
#programList ul.loaded {
  background: none !important;
}
/* line 159, ../sass/_program.scss */
#programList ul.list {
  display: inline-block;
  min-height: 500px;
  width: 100%;
}
/* line 164, ../sass/_program.scss */
#programList ul {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 15, ../sass/components/bourbon/addons/_clearfix.scss */
#programList ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 167, ../sass/_program.scss */
#programList ul .card {
  background: white;
  margin-top: 1.5rem;
  height: 307px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
  transition: box-shadow 1s;
}
/* line 173, ../sass/_program.scss */
#programList ul .card:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
/* line 178, ../sass/_program.scss */
#programList ul .card img {
  min-width: 100%;
  height: 150px;
}
/* line 182, ../sass/_program.scss */
#programList ul .card .content {
  padding: 0 .5rem;
}
/* line 185, ../sass/_program.scss */
#programList ul .card a:hover {
  text-decoration: none;
}
@media screen and (min-width: 769px) {
  /* line 167, ../sass/_program.scss */
  #programList ul .card {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  #programList ul .card:last-child {
    margin-right: 0;
  }
  /* line 193, ../sass/_program.scss */
  #programList ul .card:nth-child(3n) {
    margin-right: 0px;
  }
}
@media screen and (max-width: 768px) {
  /* line 167, ../sass/_program.scss */
  #programList ul .card {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  #programList ul .card:last-child {
    margin-right: 0;
  }
  /* line 199, ../sass/_program.scss */
  #programList ul .card:nth-child(2n) {
    margin-right: 0px;
  }
}
@media screen and (max-width: 480px) {
  /* line 167, ../sass/_program.scss */
  #programList ul .card {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
    margin-right: 0px;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  #programList ul .card:last-child {
    margin-right: 0;
  }
}

/* line 217, ../sass/_program.scss */
#savedProgramDisplay {
  overflow: hidden !important;
  position: relative;
  top: -3rem;
  width: 100%;
  line-height: 2.5rem;
  background: rgba(0, 0, 0, 0.9);
  padding: 2rem 0rem;
}
/* line 226, ../sass/_program.scss */
#savedProgramDisplay #page {
  max-width: 1088px !important;
  margin: auto;
}
/* line 230, ../sass/_program.scss */
#savedProgramDisplay #favorites-list a, #savedProgramDisplay #favorites-list h4 {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 100;
}
/* line 234, ../sass/_program.scss */
#savedProgramDisplay #favorites-list .remove {
  color: red !important;
  padding-left: .5rem;
}

/* line 4, ../sass/regions/_region.scholarship-container.scss */
#scholarship-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 15, ../sass/components/bourbon/addons/_clearfix.scss */
#scholarship-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 6, ../sass/regions/_region.scholarship-container.scss */
#scholarship-container li {
  width: 32%;
  display: inline-block;
  overflow: hidden;
  margin: 0.25%;
  padding: 2rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 290px;
}
/* line 14, ../sass/regions/_region.scholarship-container.scss */
#scholarship-container li:hover {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
/* line 18, ../sass/regions/_region.scholarship-container.scss */
#scholarship-container li h3 {
  border-bottom: 1rem solid black !important;
}
/* line 22, ../sass/regions/_region.scholarship-container.scss */
#scholarship-container li a {
  margin-bottom: .5rem;
  display: inline-block;
  text-decoration: none;
}
/* line 28, ../sass/regions/_region.scholarship-container.scss */
#scholarship-container li p {
  max-height: 72px;
  overflow: ellipsis;
  font-size: .85rem;
}

@media screen and (max-width: 900px) {
  /* line 37, ../sass/regions/_region.scholarship-container.scss */
  #scholarship-container li {
    width: 49%;
  }
}
@media screen and (max-width: 480px) {
  /* line 43, ../sass/regions/_region.scholarship-container.scss */
  #scholarship-container li {
    width: 100%;
  }
}
/* line 2, ../sass/regions/_region.secondsidebar.scss */
#sidebar-second {
  font-size: 85%;
  padding-top: 60px;
  padding-left: 40px;
}
@media screen and (max-width: 768px) {
  /* line 2, ../sass/regions/_region.secondsidebar.scss */
  #sidebar-second {
    padding-left: 0px;
  }
}
/* line 9, ../sass/regions/_region.secondsidebar.scss */
#sidebar-second h2 {
  margin-bottom: .5rem;
}
/* line 12, ../sass/regions/_region.secondsidebar.scss */
#sidebar-second .block-fieldblock:not(:first-child) h2 {
  margin-top: 1rem;
}

/* line 2, ../sass/regions/_regions.footer.scss */
#footer {
  width: 100%;
  max-width: 100% !important;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100;
  padding: 3rem 0;
  background: #1F1F1F;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 10, ../sass/regions/_regions.footer.scss */
#footer a {
  color: #008240;
}
/* line 14, ../sass/regions/_regions.footer.scss */
#footer a:hover {
  color: #009c4d;
}
/* line 20, ../sass/regions/_regions.footer.scss */
#footer #uologo {
  width: 100%;
}
/* line 15, ../sass/components/bourbon/addons/_clearfix.scss */
#footer:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 768px) {
  /* line 26, ../sass/regions/_regions.footer.scss */
  #footer .block-even {
    margin-right: 0px !important;
  }
}
/* line 33, ../sass/regions/_regions.footer.scss */
#footer .block-title {
  text-transform: capitalize;
}
/* line 36, ../sass/regions/_regions.footer.scss */
#footer .block {
  font-size: 90%;
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 23.40426%;
}
/* line 40, ../sass/components/neat/grid/_span-columns.scss */
#footer .block:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 36, ../sass/regions/_regions.footer.scss */
  #footer .block {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
    margin-bottom: 3rem;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  #footer .block:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 36, ../sass/regions/_regions.footer.scss */
  #footer .block {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
  }
  /* line 40, ../sass/components/neat/grid/_span-columns.scss */
  #footer .block:last-child {
    margin-right: 0;
  }
}
/* line 50, ../sass/regions/_regions.footer.scss */
#footer input {
  width: 100%;
}

/* line 2, ../sass/regions/_regions.precontent.scss */
#precontent {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 769px) {
  /* line 2, ../sass/regions/_regions.precontent.scss */
  #precontent {
    height: 3rem;
    overflow-y: hidden;
    overflow-x: auto;
    line-height: 3rem;
  }
}
@media screen and (max-width: 768px) {
  /* line 2, ../sass/regions/_regions.precontent.scss */
  #precontent {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    line-height: 3rem;
    height: 3rem;
  }
}
@media screen and (max-width: 480px) {
  /* line 2, ../sass/regions/_regions.precontent.scss */
  #precontent {
    margin-bottom: 1rem;
    padding-top: .75rem;
    line-height: 1.5rem;
    white-space: normal;
    overflow-y: visible;
    height: auto;
  }
  /* line 28, ../sass/regions/_regions.precontent.scss */
  #precontent .block-fieldblock:not(:first-child) h2:before {
    display: none !important;
  }
}
/* line 32, ../sass/regions/_regions.precontent.scss */
#precontent .field-items p {
  display: inline-block;
  max-width: 800px;
}
/* line 36, ../sass/regions/_regions.precontent.scss */
#precontent .block-fieldblock:not(:first-child) h2:before {
  padding-left: .5rem;
  padding-right: .5rem;
  content: "|";
}
/* line 56, ../sass/regions/_regions.precontent.scss */
#precontent .block-fieldblock {
  display: inline-block !important;
  overflow: hidden;
}
/* line 62, ../sass/regions/_regions.precontent.scss */
#precontent h2.block-title, #precontent .field-item p, #precontent .field-item {
  font-size: 1rem !important;
  margin-bottom: 0rem;
}
/* line 67, ../sass/regions/_regions.precontent.scss */
#precontent h2.block-title {
  font-weight: 600;
}
/* line 69, ../sass/regions/_regions.precontent.scss */
#precontent h2.block-title:after {
  content: ":";
}
/* line 73, ../sass/regions/_regions.precontent.scss */
#precontent *:not(.contextual-links-wrapper) {
  display: inline-block;
}
/* line 77, ../sass/regions/_regions.precontent.scss */
#precontent .contextual-links-wrapper {
  display: none !important;
}

/* line 1, ../sass/_photo_gallery.scss */
#block-fieldblock-2586de2e92859be547d21a8bdb9bcf2d .field-items {
  width: 33%;
  display: inline-block;
}
/* line 4, ../sass/_photo_gallery.scss */
#block-fieldblock-2586de2e92859be547d21a8bdb9bcf2d .field-items img {
  height: 157px;
}

/* line 3, ../sass/_breadcrumbs.scss */
#breadcrumbs {
  padding-left: 0px !important;
  margin-bottom: 2rem !important;
}
@media screen and (min-width: 769px) {
  /* line 3, ../sass/_breadcrumbs.scss */
  #breadcrumbs {
    width: 72.5%;
  }
}
@media screen and (max-width: 768px) {
  /* line 11, ../sass/_breadcrumbs.scss */
  #breadcrumbs li:not(:first-child) {
    display: none !important;
  }
}

/* line 17, ../sass/_breadcrumbs.scss */
#togglesavedProgramDisplay {
  width: 25% !important;
  padding: 0px 0px !important;
  background: rgba(255, 237, 49, 0.67) !important;
  font-weight: 600 !important;
  font-size: 90% !important;
}
@media screen and (max-width: 768px) {
  /* line 17, ../sass/_breadcrumbs.scss */
  #togglesavedProgramDisplay {
    position: relative !important;
    top: 0rem !important;
    display: inline-block !important;
    width: 12rem !important;
  }
}
@media screen and (max-width: 480px) {
  /* line 17, ../sass/_breadcrumbs.scss */
  #togglesavedProgramDisplay {
    margin-top: 0px !important;
  }
}

/* line 34, ../sass/_breadcrumbs.scss */
#breadcrumbs li {
  display: inline;
  background-color: #F0F0F0;
  font-family: 'Open sans';
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-size: .7rem;
  /*line-height: 1.5rem;*/
  height: 3rem;
  display: inline-block;
  padding: 0 .25rem 0 .25rem;
  font-weight: 700;
  margin: 0 -1.25rem 0 2.5rem;
  position: relative;
  -webkit-transition: color .25s;
  /* For Safari 3.1 to 6.0 */
  transition: color .25s;
}

/* line 53, ../sass/_breadcrumbs.scss */
#breadcrumbs a {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

/* line 58, ../sass/_breadcrumbs.scss */
#breadcrumbs li:hover a {
  color: rgba(0, 0, 0, 0.7);
}

/* line 61, ../sass/_breadcrumbs.scss */
#breadcrumbs li:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 66, ../sass/_breadcrumbs.scss */
#breadcrumbs li span {
  position: relative;
  top: -1.25rem;
}

/* line 71, ../sass/_breadcrumbs.scss */
#breadcrumbs img {
  height: 1.5rem;
  position: relative;
  top: .5rem;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transition: opacity .25s;
  /* For Safari 3.1 to 6.0 */
  transition: opacity .25s;
}

/* line 81, ../sass/_breadcrumbs.scss */
#breadcrumbs li:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 1.5rem solid rgba(255, 255, 255, 0);
  border-bottom: 1.5rem solid rgba(255, 255, 255, 0);
  border-left: 1rem solid #F0F0F0;
  display: inline-block;
  line-height: 0rem;
  position: relative;
  left: 1.25rem;
  /*float: left;*/
}

/* line 94, ../sass/_breadcrumbs.scss */
#breadcrumbs li:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 1.5rem solid #F0F0F0;
  border-bottom: 1.5rem solid #F0F0F0;
  border-left: 1rem solid rgba(255, 255, 255, 0);
  display: inline-block;
  line-height: 0rem;
  position: relative;
  left: -1.25rem;
  /*float: left;*/
}

/* line 107, ../sass/_breadcrumbs.scss */
#breadcrumbs li:first-child {
  margin-left: 0px !important;
}

/* line 110, ../sass/_breadcrumbs.scss */
#breadcrumbs li:first-child:before {
  border-left: 1.25rem solid #F0F0F0;
  border-top: 0rem solid #F0F0F0;
  border-bottom: 0rem solid #F0F0F0;
}

/* line 117, ../sass/_breadcrumbs.scss */
#bar input[type="submit"] {
  line-height: 2.75rem;
  height: 2.75rem;
}

/* line 124, ../sass/_breadcrumbs.scss */
#bar #breadcrumbs {
  margin-bottom: 0px;
  margin-top: .5rem;
}
/* line 129, ../sass/_breadcrumbs.scss */
#bar #breadcrumbs li {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 132, ../sass/_breadcrumbs.scss */
#bar #breadcrumbs li:not(:first-child):before {
  border-top: 1.5rem solid rgba(255, 255, 255, 0.5);
  border-bottom: 1.5rem solid rgba(255, 255, 255, 0.5);
}
/* line 136, ../sass/_breadcrumbs.scss */
#bar #breadcrumbs li:after {
  border-left: 1rem solid rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 480px) {
  /* line 3, ../sass/_form.scss */
  input, button.lg, a.button {
    width: 100% !important;
    left: 0px !important;
    margin-top: 1rem !important;
  }
}

/* line 12, ../sass/_form.scss */
input, button.lg, a.button {
  line-height: 2rem;
  padding: 0 .75rem;
  box-sizing: border-box;
  margin-top: .25rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .2rem;
  display: inline-block;
  height: 2rem;
  outline: 0;
}

/* line 23, ../sass/_form.scss */
label, a.button {
  /*font-size: 1.5rem;*/
  display: inline-block;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: .15rem;
  font-size: .75rem;
  font-weight: 100;
}

/* line 34, ../sass/_form.scss */
input[type='submit'], button.lg, a.button {
  background: #8AB24F;
  line-height: .825rem;
  padding: 0 2.75rem;
  color: white;
  font-size: 1rem;
  border: 0px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 100;
  font-family: 'Open sans';
  font-size: 100%;
}

/* line 47, ../sass/_form.scss */
label, a.button {
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}

/* line 52, ../sass/_form.scss */
button.lg, a.button {
  line-height: 2.75rem;
  height: 2.75rem;
  width: 100%;
  text-transform: uppercase !important;
}

/* line 59, ../sass/_form.scss */
#favorite-toggle button.lg {
  background: none;
  color: rgba(0, 0, 0, 0.75);
  border: 1px solid green;
  font-weight: 600;
}

/* line 66, ../sass/_form.scss */
.fa-star {
  color: #fed201;
}

/* line 70, ../sass/_form.scss */
a.button {
  color: white !important;
  text-align: center !important;
  letter-spacing: .2rem !important;
}

/* line 123, ../sass/_form.scss */
body:not(.page-node) #p-Search input, .node-type-program #p-Search input, .not-front #p-Search input {
  display: none !important;
}

/* line 2, ../sass/_taxonomyPage.scss */
.page-taxonomy article {
  margin-bottom: 2rem;
}
/* line 6, ../sass/_taxonomyPage.scss */
.page-taxonomy .links li {
  padding: 0px 0px;
}

@media screen and (max-width: 768px) {
  /* line 4, ../sass/_nav.scss */
  nav #primary {
    display: none;
    padding-top: 4.5rem;
    width: 100%;
    height: 100%;
    background: rgba(0, 79, 39, 0.9);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2006;
  }
  /* line 17, ../sass/_nav.scss */
  nav #primary li {
    width: 100%;
    display: block;
    text-align: center;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 769px) {
  /* line 4, ../sass/_nav.scss */
  nav #primary {
    display: inline !important;
  }
}

/* line 29, ../sass/_custom.scss */
.user-picture {
  display: none;
}

/* line 33, ../sass/_custom.scss */
.views-field.views-field-field-staff-image img {
  border-radius: 1000px;
}

/* line 37, ../sass/_custom.scss */
.messages.error {
  display: none;
}

/* line 41, ../sass/_custom.scss */
ul {
  list-style: none;
}

/* line 44, ../sass/_custom.scss */
.field-item ul {
  list-style: initial;
  padding-right: 1rem;
  position: relative;
  right: -1.25rem;
  line-height: 1.75rem;
  margin-bottom: .5rem;
}

/* line 55, ../sass/_custom.scss */
a:link, a:visited {
  color: #004F27;
  text-decoration: none;
}

/* line 62, ../sass/_custom.scss */
a:hover, a:active {
  color: #008240;
  text-decoration: underline;
}

/* line 68, ../sass/_custom.scss */
hr {
  position: relative;
  top: 1.0rem;
  margin-bottom: .5rem;
  border: 1px solid #f4f4ee;
}

/* line 76, ../sass/_custom.scss */
#main {
  margin-bottom: 3rem;
}

/* line 81, ../sass/_custom.scss */
.front #breadcrumbs {
  display: none;
}

/* line 85, ../sass/_custom.scss */
#savedProgramDisplay {
  display: none;
}

/* line 88, ../sass/_custom.scss */
#barwrapper {
  background: #FED201;
  height: 4rem;
  overflow: hidden;
  margin-bottom: 3rem;
}

/* line 95, ../sass/_custom.scss */
#barwrapper div {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 15, ../sass/components/bourbon/addons/_clearfix.scss */
#barwrapper div:after {
  content: "";
  display: table;
  clear: both;
}

/* line 99, ../sass/_custom.scss */
#bar {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%;
  margin: auto;
  display: inline-block;
  white-space: nowrap;
  z-index: 1000;
}
/* line 40, ../sass/components/neat/grid/_span-columns.scss */
#bar:last-child {
  margin-right: 0;
}
/* line 107, ../sass/_custom.scss */
#bar input[type="submit"] {
  margin-top: 0rem;
  width: 14rem;
  float: right;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 700;
  position: relative;
  top: .7rem;
  background: rgba(255, 255, 255, 0.35);
}
/* line 117, ../sass/_custom.scss */
#bar input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.45);
}

/* line 121, ../sass/_custom.scss */
#breadcrumbs input#togglesavedProgramDisplay {
  color: red !important;
}

/* line 124, ../sass/_custom.scss */
.container {
  padding: 0 1rem !important;
}

/* line 128, ../sass/_custom.scss */
html, body .front {
  min-height: 100vh;
}

/* line 132, ../sass/_custom.scss */
.front {
  background: #1F1F1F;
}
/* line 135, ../sass/_custom.scss */
.front #main {
  margin-bottom: 0px;
}
/* line 138, ../sass/_custom.scss */
.front #main .container {
  display: none !important;
}

/* line 143, ../sass/_custom.scss */
.explore {
  width: 100%;
  margin-bottom: 3rem;
}

/* line 149, ../sass/_custom.scss */
#logo img {
  height: 4rem;
  margin-top: 2rem;
}

/* line 155, ../sass/_custom.scss */
#favorite-toggle {
  display: none;
}

/* line 159, ../sass/_custom.scss */
.node-type-program #favorite-toggle {
  display: block;
  width: 100% !important;
}

/* line 165, ../sass/_custom.scss */
#secondaryBar {
  background: #fed201;
  line-height: 3.75rem;
  height: 3.75rem;
  margin-bottom: 3rem;
  overflow: hidden;
}
/* line 172, ../sass/_custom.scss */
#secondaryBar .container {
  position: relative;
  overflow: hidden;
  height: 3.75rem;
}
/* line 178, ../sass/_custom.scss */
#secondaryBar #togglesavedProgramDisplay {
  line-height: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 0px;
  top: .625rem;
  background: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.4);
  font-weight: 700;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 191, ../sass/_custom.scss */
#secondaryBar #togglesavedProgramDisplay:hover {
  background: rgba(255, 255, 255, 0.4);
}

/* line 198, ../sass/_custom.scss */
.front #header {
  background-size: cover;
}

/* line 203, ../sass/_custom.scss */
.scholarship-title {
  font-size: 1.25rem;
  line-height: 4rem;
}

/* line 209, ../sass/_custom.scss */
.view-scholarships-for-uo-students- td, .view-uo-departmental-scholarships td, .view-display-id-block td {
  padding-bottom: 1rem;
  padding-top: 2rem;
  padding-right: 1.25rem;
}

/* line 221, ../sass/_custom.scss */
.view-scholarships-for-uo-students- .views-field-title a,
.view-uo-departmental-scholarships .views-field-title a,
.view-display-id-block .views-field-title a {
  font-weight: 900;
}

/* line 225, ../sass/_custom.scss */
[class*="excursions"] .views-field-title a {
  font-size: 1.25rem;
  padding-top: 1rem;
  display: inline-block;
  padding-bottom: .5rem;
}

/* line 232, ../sass/_custom.scss */
[class*="excursions"] .views-field-body a {
  max-width: 350px;
}

/* line 236, ../sass/_custom.scss */
.view-id-staff .row-1 {
  height: 350px;
}
