// Custom
// ------
// This file is used to define custom overrides and
// style changes to be used for building your theme.
// Documentation: http://sass-lang.com/docs/yardoc/_index.html

// Import variables and mixins to be used.
@import "_config";
@import "_sprites";

// Custom code here.

// Import wildcard files and folders.
@import "blocks/*";
@import "elements/*";
@import "pages/*";
@import "nodes/*";
@import "regions/*";
@import "forms/*";

@import "_program";
@import "_photo_gallery";
@import "_breadcrumbs";
@import "_form";
@import "_taxonomyPage";
@import "_nav";
@import "font-awesome-4.3.0/css/font-awesome.min.css";

.user-picture{
	display: none;
}

ul{
	list-style: none;
}
.field-item ul{
	list-style: initial;
	padding-right: 1rem;
	position: relative;
	right: -1.25rem;
	line-height: 1.75rem;
	margin-bottom: .5rem;
}

// Links
a {
  &:link, &:visited {
    color:$secondaryHighlight;
    text-decoration: none;
  }
}

a {
  &:hover, &:active {
    color:lighten($secondaryHighlight, 10%);
    text-decoration: underline;
  }
}

hr{
	position: relative;
	top: 1.0rem;
	margin-bottom: .5rem;
	border: 1px solid rgb(244, 244, 238);
}


#main{
	margin-bottom: 3rem;
}

.front{
	#breadcrumbs {
		display: none;
	}
}
#savedProgramDisplay{
	display: none;
}
#barwrapper{
	background: #FED201;
	height: 4rem;
	overflow:hidden;
	margin-bottom: 3rem;
	
}
#barwrapper div{
	
	@include outer-container;
}
#bar{
	@include span-columns(12);
	margin:auto;
	// margin-bottom: 2rem;
	display: inline-block;
	// width: 100%;
	white-space: nowrap;
	z-index: 1000;
	input[type="submit"]{
		margin-top: 0rem;
		width: 14rem;
		float: right;
		color: rgba(0, 0, 0, 0.4);
		font-weight: 700;
		position: relative;
		top: .7rem;
		background:rgba(255,255,255,.35);
	}
	input[type="submit"]:hover{
		background:rgba(255,255,255,.45);
	}
}
#breadcrumbs input#togglesavedProgramDisplay{
	color:red !important;
}
.container{
	padding: 0 1rem !important;
}

html, body .front{
	min-height: 100vh;
	
}
.front{
	background: #1F1F1F;;
	
	#main{
		margin-bottom: 0px;
	}
	#main .container{
		display: none !important;
	}

}
.explore{
	width:100%;
	margin-bottom: 3rem;
}


#logo img{
	height: 4rem;
  margin-top: 2rem;
}


#favorite-toggle{
	display:none;
}

.node-type-program #favorite-toggle{
	display:block;
	width:100% !important;
}

// yellow bar thing!
#secondaryBar{
	background:$highlight;
	line-height:3.75rem;
	height:3.75rem;
	margin-bottom:3rem;
	overflow: hidden;

	.container{
		position:relative;
		overflow: hidden;
		height:3.75rem;
	}

	#togglesavedProgramDisplay{

		line-height: 2.5rem;
		height: 2.5rem;
		position:absolute;
		right:0px;
		top:.625rem;

		background:rgba(255,255,255,.3);
		color:rgba(0, 0, 0, 0.4);
		font-weight: 700;
		border:1px solid rgba(255,255,255,.2);

		&:hover{
			background:rgba(255,255,255,.4);
		}
	}
}


.front #header{
	background-size:cover;
}


.scholarship-title{
	font-size: 1.25rem;
	line-height: 4rem;
}
