@font-face {
  font-family: 'Open sans';
  src: url('fonts/OpenSans-light.eot'); /* IE9 Compat Modes */
  src: url('fonts/OpenSans-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/OpenSans-light.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/OpenSans-light.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/OpenSans-light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/OpenSans-light.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
}
@font-face {
  font-family: 'Open sans';
  src: url('fonts/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/OpenSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 600;
}
@font-face {
  font-family: 'Open sans';
  src: url('fonts/OpenSans-Semibold.eot'); /* IE9 Compat Modes */
  src: url('fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/OpenSans-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/OpenSans-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/OpenSans-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/OpenSans-Semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
}