@import '_config';

input, button.lg, a.button{
	@if $responsive {
      @include media($mobile) {
			width: 100% !important;
			left:0px !important;
			margin-top:1rem !important;
      }
    }
}
input, button.lg, a.button{
	line-height: 2rem;
	padding:0 .75rem;
	box-sizing:border-box;
	margin-top:.25rem;
	border:1px solid rgba(0,0,0,.2);
	border-radius: .2rem;
	display: inline-block;
	height: 2rem;
	outline: 0;
}
label, a.button{
	// margin-top:1.5rem;
	/*font-size: 1.5rem;*/
	display: inline-block;
	font-size: 1rem;
	text-transform: capitalize;
	letter-spacing: .15rem;
	font-size:.75rem;
	// color: rgba(0,0,0,.5);
	font-weight: 100;
}
input[type='submit'], button.lg, a.button{
	background: $primary-button-color;
	line-height: .825rem;
	padding:0 2.75rem;
	color:white;
	font-size: 1rem;
	border:0px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-weight: 100;
	font-family: 'Open sans';
	font-size: 100%;
}
label, a.button{
	font-weight: 400 !important;
  	letter-spacing: 0 !important;
}

button.lg, a.button{
	line-height: 2.75rem;
	height: 2.75rem;
	width: 100%;
	text-transform: uppercase !important;
}

#favorite-toggle button.lg{
	background:none;
	color: rgba(0,0,0,.75);
	border:1px solid green;
	font-weight:600;

}
.fa-star{
	color:$highlight;
}

a.button{
	color:white !important;
	text-align:center !important;
	letter-spacing: .2rem !important;
}
body:not(.page-node), .node-type-program, .not-front{
	#p-Search input{
		display: none !important;
	}
}
