@import '_config';
@import 'regions/_region.header';

nav #primary{
	@if responsive {
		@include media($tablet) {
			display: none;
			padding-top: $headerHeight/2;
			width: 100%;
			height: 100%;
			background: rgba($secondaryHighlight, .9);
			position: fixed;
			top:0px;
			left:0px;
			z-index: 2006;

			li{
				width: 100%;
				display: block;
				text-align: center;
				line-height: 2.75rem;
			}

		}
		@include media($desktop){
			display: inline !important;
		}
	}
}

