.country, .price, .region, .priority, .enrollment_required, .type, .discipline, .term{
  display: none;
}
.page-programs{
	#breadcrumbs li:first-child{
		display: inline-block;
	}
	#breadcrumbs li{
		display: none;
	}
}
.desc{
	font-size:.9rem;
	margin-top: 1rem;
}

.ms-parent.reset{
	display: block;
  height: 26px;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid red;
  text-align: left;
  white-space: nowrap;
  line-height: 26px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  height: 31px;
  position: relative;
  top: -1px;
  line-height: 30px;
  text-align: center;
  
  a{
  	color:red;
  }
}

#enrollment_notice{
  position: relative;
  text-align: right;
  top:1.5rem;
  margin-bottom: -19px;
  display: none;
  z-index: 1 !important;
  @include media($tablet) {
			text-align: left !important;
			top: -20px !important;
			margin-bottom: -9px !important;
		}
}

#controls-sticky-wrapper{
	height: auto !important;
}

#programList #controls{

	background: white;
	padding-top:1rem;
	padding-bottom:1rem;
	border-bottom:2px solid rgba(0,0,0,.1);
	min-height:7.75rem;
	position: relative;

	// z-index: 1005;
	overflow: visible;

	@if $responsive {
		@include media($tablet) {
			border-bottom: none;
		}
		@include media($mobile) {
			

			.search{
				margin-top:0rem !important;
			}

			.ms-drop.bottom input {
				width: auto !important;
				margin-top: 0px !important;
			}
		}

	}
}


#programList .is-sticky #controls{
	border-bottom:0px solid rgba(0,0,0,.1);
	box-shadow: 0px 3px 3px -3px rgba(0,0,0,.5);
}

#programList #found{
	color: white;
	border-radius: 15px;
	font-size: 80%;
	padding: .15rem .55rem 0 .55rem;
	display: inline-block;
	background: #fed201;
}


#programList{
	.search{
		z-index: 1010;
		position: relative;
		@include span-columns(4);
		@if $responsive{
			@include media($tablet) {
				width: 100%;
			}
		}
	}

	.placeholder span{
		display: none;
		@include media($tablet) {
			display: inline;
		}
	}
	.ms-parent{
		margin-top:.5rem;
	}
	#catagories{
		@include outer-container;
		width: 100% !important;
	}
	.ms-choice, .ms-drop.bottom{
		width:100%;
	}
	#catagories select, .ms-parent {
		// min-width: 160px !important;
		@include span-columns(2);
		@include media($tablet) {
			@include span-columns(4);
			&:nth-child(4n){
				margin-right:0px;
			}
		}
		@include media($mobile) {
			@include span-columns(2);
			&:nth-child(4n){
				margin-right:0px;
			}
		}
	}
	li label{
		font-size: 85% !important;
	}
	ul.loaded{
		background: none !important;
	}
	ul.list{
 		display: inline-block;
 		min-height: 500px;
 		width: 100%;
	}
	ul{
		@include outer-container;
		
		.card{
			background: white;
			margin-top: 1.5rem;
			height: 307px;
			box-shadow: inset 0 0 1px rgba(0,0,0,.4);
			transition: box-shadow 1s;
			&:hover{
				// box-shadow: inset 0 0 1px rgba(0,0,0,.9);
				box-shadow: 0 1px 5px rgba(0,0,0,.5);
				// background: red;
			}
			img{
				// min-width:100%;
				height: 150px;
				margin:auto;
				display: block;
			}
			.content{
				padding: 0 .5rem;
			}
			a:hover{
				text-decoration: none;
			}


			@if $responsive {
				@include media($desktop) {
					@include span-columns(4);
					&:nth-child(3n){
						margin-right:0px;
					}
				}
				@include media($tablet) {
					@include span-columns(4);
					&:nth-child(2n){
						margin-right:0px;
					}
				}
				@include media($mobile) {
			    	@include span-columns(4);
			    	margin-right: 0px;

				}
	  		}
		}
	}
}

#programList span#found, #programList .weak{
	@extend .not-tablet;
}

#savedProgramDisplay{
	overflow: hidden !important;
	position: relative;
	top: -3rem;
	width: 100%;
	line-height: 2.5rem;
	background: rgba(0,0,0,.9);	
	padding: 2rem 0rem;
	// margin-top: -3rem;
	#page{
		max-width: $max-width-px+px !important;
		margin:auto;
	}
	#favorites-list a, #favorites-list h4{
		color:rgba(255,255,255,.9);
		font-weight: 100;
	}
	#favorites-list .remove{
		color:red !important;
		padding-left: .5rem;
	}
}