@import 'components/modular-scale/_modular-scale';
@import "_config";
@import "_font";

body {
  margin: 0;
  // Setting up font size, leading and font family
  //  http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography
  font: 16px, "Helvetica Neue", helvetica, Arial, sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  @if $responsive {
    @include media($tablet) {
      font-size: 90%;
    }
    @include media($mobile) {
      font-size: 85%;
    }
  }
}

// Titles.
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  font-family: $headerSans;
}

h1 {
  font-size: 3.583em;
  font-size: ms(2);
  font-weight: 600;
  padding: 0 0 0.5em;
  margin: 0;
  @if $responsive {
    @include media($mobile) {
      font-size: ms(1);
    }
  } 
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.5em;
  margin-top:0.75em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

// Paragraph styles.
p {
  margin: 0 0 1em 0;
}

table{
  margin-bottom: 2rem;
}

.content .field-items li{
  margin-left: 1.5rem !important;
}

.weak{
  font-size: 90%;
  color:rgba(0,0,0,.5);
}

#sidebar-first{
  padding-right:1rem;
}

#sidebar-first h2{
  font-size: 1.25rem;
  margin-top:1rem;
}