// _regions.sidebar
#precontent {
	border-top:1px solid rgba(0,0,0,.2);
	border-bottom:1px solid rgba(0,0,0,.2);
	margin-bottom: 2.5rem;
	
	@if $responsive {
		@include media($desktop) {
			height: 3rem;
			overflow-y:hidden;
			overflow-x:auto; 
			line-height: 3rem;
		}
	    @include media($tablet) {
	        overflow-y:hidden;
			overflow-x:auto; 
			white-space: nowrap;
			line-height: 3rem;	
			height: 3rem;
	    }
	    @include media($mobile) {
	    	margin-bottom: 1rem;
	    	padding-top: .75rem;
	    	line-height: 1.5rem;
			white-space: normal;
			overflow-y:visible;
			height: auto;
			.block-fieldblock:not(:first-child) h2:before{
				display: none !important;
			}
	    } 
	    .field-items p {
	    	display: inline-block;
	    	max-width: 800px;
	    }
	    .block-fieldblock:not(:first-child) h2:before{
			padding-left: .5rem;
			padding-right: .5rem;
			content: "|";
		}
	    // .content {
	    // 	top:0px;
	    // position: absolute;
	    // }
	    // p{
	    // 	width: 16rem;
	    // 	text-overflow: ellipsis;
	    // 	white-space: nowrap;
	    // 	word-break: break-all;
	    // 	overflow: hidden;
	    // 	height: 3rem;
	    // }
	}
	

	.block-fieldblock{
		display: inline-block !important;
		
		overflow: hidden;
	}

	h2.block-title, .field-item p, .field-item{
		font-size: 1rem !important;
		margin-bottom: 0rem;
	}
	// 
	h2.block-title{
		font-weight: 600;
		&:after{
			content: ":";
		}
	}
	*:not(.contextual-links-wrapper){
		display: inline-block;
	}

	.contextual-links-wrapper{
		display: none !important;
	}

	// too long fix, work in progress
	// .field p{
	// 	white-space: nowrap;
	// 	overflow: hidden;
	// 	text-overflow: ellipsis;
	// 	max-width: 200px;
	// }
	// .block-inner{
	// 	display: inline-block;
	// 	height: 3rem;
	// 	overflow: hidden; 
	// }
}



