@import "_config";

$headerHeight : 9rem;

#logo{
	position: relative;
	z-index: 1;
}

#headerbacking{
	opacity: 0;
}

#hero-text{
	max-width: 800px;
	position: relative !important;
	text-shadow: 1px 1px 1px black;
	margin-bottom:2rem !important;
}

#leaderImage{
	max-width: 100%;
	margin-top:4rem;
	z-index: 1;
	position: relative;
}

.hero-slider{
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	z-index: 0;
	z-index:-1 !important;
}

.explore{
	display:none;
	form{
		margin-bottom: 3rem;
		position: relative;
	}
	input{
		height: 3.0rem;
		line-height: 3.0rem;
		padding: 0 1.75rem;
	}
	h1#hero-header{
		margin-bottom: 2.5rem;
		margin-top:2rem;
	}

	@media screen and (max-width: 480px){
		h1#hero-header{
			font-size: 2rem;
		}
	}
}

#header{
	overflow: hidden;
	max-height: 25vh;
	overflow: hidden;
	position: relative;

	min-height: $headerHeight;

	@if $responsive{
	@include media($mobile) {
		min-height: $headerHeight/2;
		}
	}
	color:white;
	background-position: center center;
	background-size:cover;
	background: 
	    linear-gradient(
	      rgba(0, 0, 0,.2), 
	      rgba(0, 0, 0, .4)
	    ),
	    url("http://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Trevi_Pano.jpg/1920px-Trevi_Pano.jpg");
	nav{
		float:right;
		line-height: $headerHeight;
	}
	
	#name-and-slogan{
		display: inline-block;
	}

	#header-region{
			padding-top: $headerHeight;
	}

	h1{
		color: rgb(255, 255, 255);
		display: inline-block;
		font-family: 'nixie one';
		font-weight: 100;
		position: relative;
		text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
		text-transform: uppercase;
		top: 48px;
		word-wrap: break-word;

		@if $responsive{
			@include media($desktop) {
				font-size: 48px;
				letter-spacing: 4.80000019073486px;
				line-height: 48px;
				margin-bottom: 4rem;
			}
		}
	}
}


