@import "_config";

$headerHeight : 9rem;

#headerbacking{
	opacity: 0;
}

#header{
	overflow: hidden;
	max-height: 40vh;
	overflow: hidden;
	position: relative;

	min-height: $headerHeight;

	@if $responsive{
	@include media($mobile) {
		min-height: $headerHeight/2;
		}
	}
	color:white;
	background-position: center center;
	background-size:cover;
	background: 
		/*linear-gradient(
	      rgba(0, 0, 0, 0.35), 
	      rgba(50, 60, 20, 0.05)
	    ),*/
	    linear-gradient(
	      rgba(0, 0, 0,.2), 
	      rgba(0, 0, 0, .4)
	    ),
	    /*url("http://famouswonders.com/wp-content/uploads/2009/03/forum_romanum_rom.jpg"),*/
	    // url("https://photos-5.dropbox.com/t/2/AADDo7x3vI8MFIdCSZi153oYV4YkLXL4Fn3YZuZZG3NPLA/12/291310503/jpeg/32x32/3/_/1/2/forest-landscape-mountains-4019.jpeg/CKeX9IoBIAEgAiADKAEoAg/C3PrOKS9iCxL9n0RsQqh7_RBU0xgI3xWwzVDgJ2dk2E?size=1280x960"),
	    url("http://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Trevi_Pano.jpg/1920px-Trevi_Pano.jpg"),
		url("https://photos-3.dropbox.com/t/2/AACL0DK6LBdxrObOfOMEyB3b7w8ys3dHs9PdkLJ8Q_P7_w/12/291310503/jpeg/32x32/3/_/1/2/evening-forest-landscape-397.jpg/CKeX9IoBIAEgAiADKAEoAg/HWNUb16wkDlWf6yKu0uJI349kkGqwXNi4subOah9kqM?size=1280x960");
	
	#name-and-slogan{
		display: inline-block;
	}
	nav{
		float:right;
		line-height: $headerHeight;
		a{
			color:white;
			font-weight: 100;
			font-size: 90%;
			padding-right: .5rem;
			text-shadow: 1px 1px 1px black;
		}
	}

	#header-region{
			padding-top: $headerHeight;
	}

	h1{
		color: rgb(255, 255, 255);
		display: inline-block;
		font-family: 'nixie one';
		font-weight: 100;
		position: relative;
		text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
		text-transform: uppercase;
		top: 48px;
		word-wrap: break-word;

		@if $responsive{
			@include media($desktop) {
				font-size: 48px;
				letter-spacing: 4.80000019073486px;
				line-height: 48px;
				margin-bottom: 4rem;
			}
		}
	}
}

.front #header{
	min-height: 60vh;
	// min-height: 30rem;
	.explore{
		display: inline-block;
	}
}

#menu-toggle{
	right: $padding;
	position: absolute;
	z-index: 2007;

	@if $responsive {
    @include media($desktop) {
      display: none;
    }
    @include media($tablet) {
    	top:3.5rem;
    }
    @include media($mobile){
    	top:1.5rem;
    }
  }
}
#menu-toggle.active{
	position: fixed;
}

.explore{
	display: none;
}