// _regions.footer
#footer {
	width: 100%;
	max-width: 100% !important;
	overflow: hidden;
	color:rgba(255,255,255,.6);
	font-weight: 100;
	padding: 3rem 0;
	
	// 12345
	#uologo{
		width:100%;
	}
	
	background: $darkBackground;
	@include outer-container;
	.block-even{
		@if $responsive {
			@include media($tablet) {
				margin-right:0px !important;
			}
		}
	}
	.block-title{
		text-transform:capitalize;
	}
	.block{
		font-size:90%;
		@include span-columns(3);
		@if $responsive {
		    @include media($tablet) {
		      @include span-columns(4);
		      margin-bottom: 3rem;

		    }
		    @include media($mobile){
				@include span-columns(4);
		    }
		}
	}
	input{
		width: 100%;
	}
}