@import "_config";

$headerHeight : 9rem;

#headerbacking{
	opacity: 0;
}

.explore h1#hero-header{
	margin-bottom: 2.5rem;
	margin-top:2rem;
}

#hero-text{
	max-width: 800px;
	position: relative !important;
	// z-index:10000;
	// top:-2rem;
	text-shadow: 1px 1px 1px black;
	margin-bottom:2rem !important;
}

@media screen and (max-width: 480px){
	.explore h1#hero-header{
		font-size: 2rem;
	}
}

.front header#header{
	background:none !important;
}

.hero-slider{
	z-index:-1 !important;

}

#leaderImage{
	max-width: 100%;
	margin-top:4rem;
	z-index: 1;
	position: relative;
}

#logo{
	position: relative;
	z-index: 1;
}

.front #header{
	min-height: 40vh;
	max-height: initial;
}

.explore form{
	// position: relative;
	// top:-2rem;
	// 
	margin-bottom: 3rem;
	position: relative;
	// z-index: 1;
}
.explore input{
	height: 3.0rem;
	line-height: 3.0rem;
	padding: 0 1.75rem;
}


.hero-slider{
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	z-index: 0;
	// background: red;
	img{
		// min-height: 100vh;
		// min-width: 100%;
	}
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  // min-height: 100vh;
  // min-width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
//  min-height: 100vh;
	min-width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  min-width: 100%;
  min-height: 100vh;
  border: 0;
  }





#header{
	overflow: hidden;
	max-height: 25vh;
	overflow: hidden;
	position: relative;

	min-height: $headerHeight;

	@if $responsive{
	@include media($mobile) {
		min-height: $headerHeight/2;
		}
	}
	color:white;
	background-position: center center;
	background-size:cover;
	// background: 
	//     linear-gradient(
	//       rgba(0, 0, 0,.2), 
	//       rgba(0, 0, 0, .4)
	//     ),
	//     url("http://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Trevi_Pano.jpg/1920px-Trevi_Pano.jpg");
	
	#name-and-slogan{
		display: inline-block;
	}
	nav{
		float:right;
		line-height: $headerHeight;
		a{
			color:white;
			font-weight: 100;
			font-size: 90%;
			padding-right: .5rem;
			text-shadow: 1px 1px 1px black;
		}
	}

	#header-region{
			padding-top: $headerHeight;
	}

	h1{
		color: rgb(255, 255, 255);
		display: inline-block;
		font-family: 'nixie one';
		font-weight: 100;
		position: relative;
		text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
		text-transform: uppercase;
		top: 48px;
		word-wrap: break-word;

		@if $responsive{
			@include media($desktop) {
				font-size: 48px;
				letter-spacing: 4.80000019073486px;
				line-height: 48px;
				margin-bottom: 4rem;
			}
		}
	}
}

.front #header{
	min-height: 60vh;
	// min-height: 30rem;
	.explore{
		display: inline-block;
	}
}

#menu-toggle{
	right: $padding;
	position: absolute;
	z-index: 2007;

	@if $responsive {
    @include media($desktop) {
      display: none;
    }
    @include media($tablet) {
    	top:3.5rem;
    }
    @include media($mobile){
    	top:1.5rem;
    }
  }
}
#menu-toggle.active{
	position: fixed;
}

.explore{
	display: none;
}