@import '../_config';
#sidebar-second{
  font-size: 85%;
  padding-top: $gutter*1;
  padding-left: $gutter*1;
  padding-right: $gutter*1;

  background-color: $light-grey; 
  @include media($tablet) {
    padding-left: 0px;
  }
  h2{
  	margin-bottom: .5rem;
  }
  .block-fieldblock:not(:first-child) h2{
  	margin-top:1rem;
  }
}