.node-type-program{
	.node-staff, .node-geo-centers{
		height: 70px;
		h2{
			position: relative;
			top:22px;
			left: 86px;
		}
		.content{
			width:70px;
			height: 70px;
			position: relative;
			top:-25px;
		}
		.field-type-image{
			.field-item{
				border-radius: 70px;
				overflow: hidden;
				height:70px;
			}

			img{
				width:70px;
				height: 70px;
			}
		}	
	}
}